img{
    width: 600px;
    height: 600px;
    border-radius: 90%;
    border: 3px solid black;
    box-shadow: 5px 5px 10px black;
    margin: 20px;
}
h1{
    font-size: 70px;
    font-family: Harrington;
}
h2{
    font-family: Papyrus, fantasy;
}
p{
    font-size: 20px;
    font-style: italic;
}
html{
    text-align: center;
    background-color: lavenderblush;
}
footer{
    font-family: monospace;
    font-style: italic;
    color: blue;
}
.Romantasy {
    display:inline-block;
    background-color: lightblue;
}
.Dystopian {
    display:inline-block;
    background-color: gray
}
.Contemporary {
    display:inline-block;
    background-color: rgb(231, 206, 163);
}
.Dark{
    display:inline-block;
    background-color: rgb(90, 30, 30);
}
.Mythology{
    display:inline-block;
    background-color: rgb(171, 155, 92);
}
.Mystery{
    display:inline-block;
    background-color: rgb(175, 81, 156);
}
